@import-once 'vendor/bootstrap/bootstrap.less';
@import-once 'tools.less';
@import-once 'animations.less';

@zIndexPage : 100;
@zIndexLogo : @zIndexPage+100;


body {
    background:url("/static/img/common/bg.jpg");
    height:100%;
    width:100%;
    overflow:hidden;
    
    .logo {
        .hide-text();
        display:block;        
        background:url("/static/img/common/logo.png") no-repeat;
        width:242px;
        height:151px;
        margin:0;
        padding:0;
        position:absolute;
        top:0;
        z-index:@zIndexLogo;
    }
}

.container.centered {
    position:absolute;
    top:0px;
    left:50%;
    margin-left:900px/-2px;
}


/* ---------------------------------------------------------- */
/* INTRO */

.questions {
    .box-shadow(0 0 20px 0 fade(black, 20) );
    height:582px;
    top:58px;
    position:relative;
    z-index:@zIndexPage;
    background:url("/static/img/intro/pointilles.png") #edeef0 0 0 no-repeat;
    
    .question {
        width:225px-2px;
        height:194px-2px;
        margin-left:2px;
        background:no-repeat;
        text-align:center;
        position:absolute;
        top:0;
        left:0;
        
        .wrapper {         
            display:block;   
            width:100%;
            height:100%;
            background:white;
            position:relative;
            z-index:@zIndexPage;
            .transition(0.2s);            
        }

        &:hover .wrapper{   
            z-index:@zIndexPage+10;
            .scale(1.05);
            .box-shadow(0 0 20px 0 fade(black, 20) );
        }


        &.case-1 {
            left:225px*1px;
            top:194px*0px;
            height:194px*2px-2px;
            .wrapper { 
                background-image:url("/static/img/intro/case1.png"); 
            }                
        }
        
        &.case-2 {
            left:225px*0px;
            top:194px*1px;
            .wrapper { 
                background-image:url("/static/img/intro/case2.png");
            }
        }
        
        &.case-3 {
            left:225px*0px;
            top:194px*2px;
            .wrapper { 
                background-image:url("/static/img/intro/case3.png");
            }
        }
        
        &.case-4 {
            left:225px*1px;
            top:194px*2px;
            .wrapper { 
                background-image:url("/static/img/intro/case4.png");
            }
        }
        
        &.case-5 {
            left:225px*2px;
            top:194px*0px;
            .wrapper { 
                background-image:url("/static/img/intro/case5.png");
            }
        }
        
        &.case-6 {
            left:225px*2px;
            top:194px*1px;
            .wrapper { 
                background-image:url("/static/img/intro/case6.png");
            }
        }
        
        &.case-7 {
            left:225px*3px;
            top:194px*0px;
            .wrapper { 
                background-image:url("/static/img/intro/case7.png");
            }
        }
        
        &.case-8 {
            left:225px*3px;
            top:194px*1px;
            .wrapper { 
                background-image:url("/static/img/intro/case8.png");
            }
        }
        
        &.case-9 {
            left:225px*2px;
            top:194px*2px;
            width:225px*2px-2px;
            .wrapper { 
                background-image:url("/static/img/intro/case9.png");  
            }            
        } 

    }
}


/* ---------------------------------------------------------- */
/* PAGE GRAPH */
.graph {

    top:15px;
    height:620px;
    position:relative;
    z-index:@zIndexPage;
    
    .select-question {
        display:block;
        height:100px;
        position:absolute;
        top:15px;
        left:275px;
        right:0;

        label {
            padding-top:70px;
            padding-bottom:70px;
            height:30px;
            position:relative;
            
            .icon {
                display:block;
                width:150px;
                height:75px;
                background:0 0 no-repeat;
                position:absolute;
                top:-10px;
                left:50%;
                margin-left:150px/-2px;
            }
            
            &.radio-environnement .icon { 
                background-image:url("/static/img/common/pictos/picto_environnement.png"); 
            }

            &.radio-economique  .icon { 
                background-image:url("/static/img/common/pictos/picto_situation_economique.png"); 
            }

            &.radio-transport  .icon { 
                background-image:url("/static/img/common/pictos/picto_transports.png"); 
            }

            &.vr { 
                background:url("/static/img/graph/pointilles_horizontal.png") repeat-y right 0;       
            }
        }
    }

    .select-sample {
        display:block;
        width:255px;
        position:absolute;
        top:155px;
        bottom:0;
        left:0;
        
        .select {

            .clearfix();
            padding:0;
            padding-bottom:15px;
            margin:0;
            margin-bottom:10px;
            text-align:center;
            position:relative;
            white-space:nowrap;
            
            &.hr {
                background:url("/static/img/graph/pointilles_vertical.png") repeat-x bottom;         
            }
        }

        .select label {
            padding-top:45px;
            padding-bottom:0px;
            line-height:10px;
            height:10px;
            width:41px;
            margin:0;
            margin-right:6px;    
            
            /* inline-block hack for ie */
            float:none !important;
            float:left;
            display:inline-block !important;
            display:inline;
            
            background:no-repeat 0 0;
        }
            
        label.radio-all {
            padding-top:55px;
            width:76px;
            background-image:url("/static/img/common/pictos/picto_all.png");
        }

        .select-age label {                  

            &.radio-18_24 {
                background-image:url("/static/img/common/pictos/picto_age_18_24.png");                
            }
            &.radio-25_34 {
                background-image:url("/static/img/common/pictos/picto_age_25_34.png");
            }
            &.radio-35_49 {
                background-image:url("/static/img/common/pictos/picto_age_35_49.png");
            }
            &.radio-50_64 {
                background-image:url("/static/img/common/pictos/picto_age_50_64.png");
            }
            &.radio-65_plus {
                background-image:url("/static/img/common/pictos/picto_age_65_plus.png");
            }                                                
        }


        .select-sex label {    
            margin:0 8px;        
            &.radio-femme {
                background-image:url("/static/img/common/pictos/picto_femme.png");                
            }
            &.radio-homme {
                background-image:url("/static/img/common/pictos/picto_homme.png");                
            }
        }


        .select-job label {  
            font-size:9px;
            &.radio-cadre {
                background-image:url("/static/img/common/pictos/picto_cadre.png");
            }
            &.radio-employe {
                background-image:url("/static/img/common/pictos/picto_employe.png");
            }
            &.radio-ouvrier {
                background-image:url("/static/img/common/pictos/picto_ouvrier.png");
            }
            &.radio-retraite {
                background-image:url("/static/img/common/pictos/picto_retraite.png");
            }
            &.radio-technicien {
                background-image:url("/static/img/common/pictos/picto_technicien.png");
            }
        }    
        
        .select-dept label {
            
            display:block;
            clear:left;
            text-align:left;
            font-size:12px;
            line-height:27px;
            height:27px;
            white-space:nowrap;
            
            i {
                font-style:normal;
                display:block;
                float:left;
                height:27px;
                width:27px;
                margin-right:5px;
                background:white;
                line-height:27px;
                font-size: 16px;
                text-align:center;
            }
        }
    }

    .render {
        width:646px;
        height:506px;
        background:url("/static/img/graph/fond.png") no-repeat;
        position:absolute;
        bottom:-20px;
        right:-15px;     
        
        .border-top {
            width:668px;
            height:30px;
            position:absolute;
            bottom:100%;
            left:-24px; 
        }

        .border-left {
            width:34px;
            height:504px;
            position:absolute;
            top:0;
            right:100%; 
        }
    }

    label {
        font-weight:bold;
        font-size: 13px;
        color:#545454;
        display:block;
        text-align:center;
        
        input {
            display:none;
        }        
    }


    &.question-environnement {
        
        @activeColor:#BAD809;
        .active { color:@activeColor; }
        
        .radio-environnement .icon {
            background-position:-150px*2px 0;
        }

        &.sample-18_24      .radio-18_24      { background-position:-100px 0; }
        &.sample-25_34      .radio-25_34      { background-position:-100px 0; }
        &.sample-35_49      .radio-35_49      { background-position:-100px 0; }
        &.sample-50_64      .radio-50_64      { background-position:-100px 0; }
        &.sample-65_plus    .radio-65_plus    { background-position:-100px 0; }
        &.sample-femme      .radio-femme      { background-position:-100px 0; }
        &.sample-homme      .radio-homme      { background-position:-100px 0; }
        &.sample-cadre      .radio-cadre      { background-position:-100px 0; }
        &.sample-employe    .radio-employe    { background-position:-100px 0; }
        &.sample-ouvrier    .radio-ouvrier    { background-position:-100px 0; }
        &.sample-retraite   .radio-retraite   { background-position:-100px 0; }
        &.sample-technicien .radio-technicien { background-position:-100px 0; }
        &.sample-75 .radio-75 i { color:@activeColor; }
        &.sample-77 .radio-77 i { color:@activeColor; }
        &.sample-78 .radio-78 i { color:@activeColor; }
        &.sample-91 .radio-91 i { color:@activeColor; }
        &.sample-92 .radio-92 i { color:@activeColor; }
        &.sample-93 .radio-93 i { color:@activeColor; }
        &.sample-94 .radio-94 i { color:@activeColor; }
        &.sample-95 .radio-95 i { color:@activeColor; }

        .border-top { 
            background-image:url("/static/img/graph/fond_haut_p3.png");
        }
    }

    &.question-transport {

        @activeColor:#06C5D8;
        .active { color:@activeColor; }

        .radio-transport .icon  {
            background-position:-150px*2px 0;
        }        

        &.sample-18_24      .radio-18_24      { background-position:-150px 0; }
        &.sample-25_34      .radio-25_34      { background-position:-150px 0; }
        &.sample-35_49      .radio-35_49      { background-position:-150px 0; }
        &.sample-50_64      .radio-50_64      { background-position:-150px 0; }
        &.sample-65_plus    .radio-65_plus    { background-position:-150px 0; }
        &.sample-femme      .radio-femme      { background-position:-150px 0; }
        &.sample-homme      .radio-homme      { background-position:-150px 0; }
        &.sample-cadre      .radio-cadre      { background-position:-150px 0; }
        &.sample-employe    .radio-employe    { background-position:-150px 0; }
        &.sample-ouvrier    .radio-ouvrier    { background-position:-150px 0; }
        &.sample-retraite   .radio-retraite   { background-position:-150px 0; }
        &.sample-technicien .radio-technicien { background-position:-150px 0; }
        &.sample-75 .radio-75 i { color:@activeColor; }
        &.sample-77 .radio-77 i { color:@activeColor; }
        &.sample-78 .radio-78 i { color:@activeColor; }
        &.sample-91 .radio-91 i { color:@activeColor; }
        &.sample-92 .radio-92 i { color:@activeColor; }
        &.sample-93 .radio-93 i { color:@activeColor; }
        &.sample-94 .radio-94 i { color:@activeColor; }
        &.sample-95 .radio-95 i { color:@activeColor; }

        .border-top { 
            background-image:url("/static/img/graph/fond_haut_p2.png");
        }
    }

    &.question-economique {

        @activeColor:#ED9906;
        .active { color:@activeColor; }

        .radio-economique .icon  {
            background-position:-150px*2px 0;
        }

        &.sample-18_24      .radio-18_24      { background-position:-200px 0; }
        &.sample-25_34      .radio-25_34      { background-position:-200px 0; }
        &.sample-35_49      .radio-35_49      { background-position:-200px 0; }
        &.sample-50_64      .radio-50_64      { background-position:-200px 0; }
        &.sample-65_plus    .radio-65_plus    { background-position:-200px 0; }
        &.sample-femme      .radio-femme      { background-position:-200px 0; }
        &.sample-homme      .radio-homme      { background-position:-200px 0; }
        &.sample-cadre      .radio-cadre      { background-position:-200px 0; }
        &.sample-employe    .radio-employe    { background-position:-200px 0; }
        &.sample-ouvrier    .radio-ouvrier    { background-position:-200px 0; }
        &.sample-retraite   .radio-retraite   { background-position:-200px 0; }
        &.sample-technicien .radio-technicien { background-position:-200px 0; }
        &.sample-75 .radio-75 i { color:@activeColor; }
        &.sample-77 .radio-77 i { color:@activeColor; }
        &.sample-78 .radio-78 i { color:@activeColor; }
        &.sample-91 .radio-91 i { color:@activeColor; }
        &.sample-92 .radio-92 i { color:@activeColor; }
        &.sample-93 .radio-93 i { color:@activeColor; }
        &.sample-94 .radio-94 i { color:@activeColor; }
        &.sample-95 .radio-95 i { color:@activeColor; }

        .border-top { 
            background-image:url("/static/img/graph/fond_haut_p1.png");
        }
    }

    &.sample-all {    
        &.question-environnement .radio-all {
            background-position:-76px*2px 0;
        }

        &.question-transport .radio-all {
            background-position:-76px*3px 0;
        }

        &.question-economique .radio-all {
            background-position:-76px*4px 0;
        }
        .border-left {
            background-image:url("/static/img/graph/fond_gauche_p1.png");            
        }
    }

    &.sample-18_24, &.sample-25_34, &.sample-35_49, &.sample-50_64, &.sample-65_plus {        
        .border-left {
            background-image:url("/static/img/graph/fond_gauche_p2.png");            
        }
    }

    &.sample-femme, &.sample-homme{        
        .border-left {
            background-image:url("/static/img/graph/fond_gauche_p3.png");            
        }
    }

    &.sample-cadre, &.sample-employe, &.sample-ouvrier, &.sample-retraite, &.sample-technicien {        
        .border-left {
            background-image:url("/static/img/graph/fond_gauche_p4.png");            
        }
    }

    &.sample-75, &.sample-77, &.sample-78, &.sample-91, &.sample-92, &.sample-93, &.sample-94, &.sample-95 {        
        .border-left {
            background-image:url("/static/img/graph/fond_gauche_p5.png");            
        }
    }

}


/* ---------------------------------------------------------- */
/* POPIN */

.titre_graph_overPt_per {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color:#727272;
}