<div class="container centered graph" ng-class="'question-' + question + ' profil-' + profil">
    <ul class="header unstyled" ng-controller="HeaderCtrl">
        <li class="info">
            <span ng-click="openDialog()" href="javascript:return false;" title="Plus d'info sur ce sondage">
                Information
            </span>
        </li>
        <li class="dl">
            <a href="{% url answers 'csv' %}?question=[[question]]&amp;profil=[[profil]]" title="Téléchargez les données de cet échantillon">
                Télécharger
            </a>
        </li>
    </ul>
    <div class="select-question">
        <div class="row-fluid">
            <a href="#/answers/?q=economique&amp;p=[[profil]]" class="span4 radio-economique vr">
                <i class="icon"></i>
                Situation économique                
            </a>
            <a href="#/answers/?q=transport&amp;p=[[profil]]" class="span4 radio-transport vr">
                <i class="icon"></i>
                Transports en commun                
            </a>
            <a href="#/answers/?q=environnement&amp;p=[[profil]]" class="span4 radio-environnement">
                <i class="icon"></i>
                Qualité de l'environement                
            </a>
        </div>
    </div>

    <div class="select-profil">
        <div class="hr select select-all">
            <a href="#/answers/?p=all&amp;q=[[question]]" class="radio-all">
                Tous                
            </a>
        </div>

        <div class="hr select select-age">
            <a href="#/answers/?p=18_24&amp;q=[[question]]" class="radio-18_24">
                18-24<br /><small>ans</small>                
            </a>
            <a href="#/answers/?p=25_34&amp;q=[[question]]" class="radio-25_34">
                25-34<br /><small>ans</small>                
            </a>
            <a href="#/answers/?p=35_49&amp;q=[[question]]" class="radio-35_49">
                35-49<br /><small>ans</small>                
            </a>
            <a href="#/answers/?p=50_64&amp;q=[[question]]" class="radio-50_64">
                50-64<br /><small>ans</small>                
            </a>
            <a href="#/answers/?p=65_plus&amp;q=[[question]]" class="radio-65_plus">
                65+<br /><small>ans</small>                
            </a>
        </div>
        <div class="hr select select-sex">
            <a href="#/answers/?p=homme&amp;q=[[question]]" class="radio-homme">
                Homme                
            </a>
            <a href="#/answers/?p=femme&amp;q=[[question]]" class="radio-femme">
                Femme                
            </a>
        </div>

        <div class="hr select select-job">            
            <a href="#/answers/?p=cadre&amp;q=[[question]]" class="radio-cadre">
                Cadre                
            </a>
            <a href="#/answers/?p=employe&amp;q=[[question]]" class="radio-employe">
                Employé                
            </a>
            <a href="#/answers/?p=ouvrier&amp;q=[[question]]" class="radio-ouvrier">
                Ouvrier                
            </a>
            <a href="#/answers/?p=technicien&amp;q=[[question]]" class="radio-technicien">
                Technicien                
            </a>
            <a href="#/answers/?p=retraite&amp;q=[[question]]" class="radio-retraite">
                Retraité                
            </a>
        </div>

        <div class="row-fluid select-dept">
            <div class="span6">
                <a href="#/answers/?p=75&amp;q=[[question]]" class="radio-75">
                    <i>75</i> Paris                    
                </a>
                <a href="#/answers/?p=77&amp;q=[[question]]" class="radio-77">
                    <i>77</i> Seine et Marne                    
                </a>
                <a href="#/answers/?p=78&amp;q=[[question]]" class="radio-78">
                    <i>78</i> Yvelines                    
                </a>
                <a href="#/answers/?p=91&amp;q=[[question]]" class="radio-91">
                    <i>91</i> Essonne                    
                </a>
            </div>
            <div class="span6">
                <a href="#/answers/?p=92&amp;q=[[question]]" class="radio-92">
                    <i>92</i> Hauts-de-seine                    
                </a>
                <a href="#/answers/?p=93&amp;q=[[question]]" class="radio-93">
                    <i>93</i> Seine-St-Denis                    
                </a>
                <a href="#/answers/?p=94&amp;q=[[question]]" class="radio-94">
                    <i>94</i> Val-de-Marne                    
                </a>
                <a href="#/answers/?p=95&amp;q=[[question]]" class="radio-95">
                    <i>95</i> Val d'Oise                    
                </a>
            </div>
        </div>

    </div>
    <div class="render">
        <div class="border-top"></div>        
        <div class="border-left"></div>        
        <h2>
            Ce que pensent
            <span ng:bind-html="profil | alias"></span> 
            <span ng:bind-html="question | alias"></span> 
        </h2>
        <div class="manual" ng-class="trendClass">
            <span ng-if="trend === false">
                Cliquez deux points pour afficher la variation
            </span>
            <span ng-if="trend !== false">            
                <span ng-if="trend > 1">+[[trend]] points</span>
                <span ng-if="trend < -1">[[trend]] points</span>
                <span ng-if="trend == 0">[[trend]] point</span>
                <span ng-if="trend == 1">+[[trend]] point</span>
                <span ng-if="trend == -1">[[trend]] point</span>
            </span>
        </div>
        <div class="yaxis"></div>
        <div class="border"></div>
        <div class="wrapper">
            <div class="chart"></div>
        </div>
    </div>
</div>