{% load staticfiles %}
<div class="tc body">
    <span ng-click="close()" class="close">close</span>
    <h2 class="top30 bottom30">
        <img src="{% static 'barometre/img/popin/logo_idf.png' %}" alt='Îles-de-France' />
    </h2>
    <p>
        Sondage Viavoice réalisé tous les deux mois pour la région Île-de-France par téléphone, auprès d'un<br />
        échantillon de 1039 personnes, représentatif de la population francilienne de 18 ans et plus.  
    </p>
    <p>
        <strong>Taux de satisfaction :</strong> Pourcentage de répondants s'estimant satisfaits et très satisfaits.
    </p>
    <a href="{% url answers 'csv' %}" class="dl" title="Téléchargez toutes les données de ce sondage">Télécharger toutes les données</a>
</div>
