{% load staticfiles %}
<div class="tc body">
    <a ng-click="close()" class="close">close</a>
    <h2 class="top30 bottom30">
        <img src="{% static 'img/popin/logo_idf.png' %}" alt='Îles-de-France' />
    </h2>
    <p>
        Sondage Viavoice réalisé pour Iles-de-France du 1er au 11 Avril 2013, par téléphone, auprès d'un<br />
        échantillon de 1039 personnes, représentatif de la population francilienne de 18 ans et plus?        
    </p>
    <p>
        <strong>Taux de satisfaction :</strong> Pourcentage de répondants s'estimant satisfaits et très satisfaits.
    </p>
    <a href="{% url answers 'csv' %}" class="dl" title="Téléchargez les données de ce sondage">Télécharger les données</a>
</div>
