<div class="container centered">
    <ul class="introductions unstyled">
        <li ng-repeat="introduction in introductions" class="introduction case-[[$index+1]]" ng-class="'type-' + introduction.format">
            <a class="wrapper" href="#/[[introduction.question.slug]]-[[introduction.profil.slug]]">
                <div class="indicator" ng-class="introduction.question.slug">
                    <span ng-bind-html="introduction.indicator.value | supPercent"></span>
                </div>
                <div class="caption">
                    <span ng-bind-html="introduction.sentence | nl2br"></span>
                </div>                
            </a>
        </li>
    </ul>
</div>