{% extends "base.dj.html" %}
{% load staticfiles %}

{% block title %}Accueil{% endblock %}


{% block extracss %}
    <link rel="stylesheet" type="text/less" href="{% static 'css/base.less' %}">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript"   src="{% static 'js/vendor/modernizr.custom.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/angular.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/angular-sanitize.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/angular-resource.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/jquery.isotope.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/jquery.animate-enhanced.min.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/jquery.transform2d.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/jquery.jscrollpane.min.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/underscore-min.js' %}"></script>    
    <script type="text/javascript"   src="{% static 'js/vendor/ui-bootstrap-custom-0.3.0.js' %}"></script>    
    <script type="text/coffeescript" src="{% static 'js/controllers.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/directives.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/filters.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/services.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/app.coffee' %}"></script>    
{% endblock %}

{% block content %}
    <div ng-app="barometre" id="barometre">        
        <div class="container relative" ng-controller="ArrowColorCtrl" ng-class="getClass()">
            <a href="#/" class="logo">
                Baromètre Ile-de-France
                <span class="arrow"></span>
            </a>
        </div>
        <div id="content" ng-view  ng-animate="'slide'"></div>
    </div>

    <!--[if lte IE 8]>    
        <script type="text/javascript"   src="{% static 'js/vendor/r2d3.min.js' %}"></script>
        <script type="text/javascript"   src="{% static 'js/vendor/raphael-min.js' %}"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->    
        <script src="{% static 'js/vendor/d3.v3.min.js' %}"></script>
        <script src="{% static 'js/vendor/d3-compat.js' %}"></script>
    <!--<![endif]-->
{% endblock %}
